OPEN-METEO_API_1_KEY = AIzaSyA123456789 # (for example, doesn't work)
OPEN-METEO_API_2_KEY = EIsjpOsEn95736135 # (for example, doesn't work)

PROVINCE=ON
ASSIGNMENT_3_GOLD_PATH=data/gold/weather_&_air_quality_gold.csv
BRONZE_DIR=data/bronze
SILVER_DIR=data/silver
FINAL_GOLD_PATH=data/gold/final_dataset.csv